.test-container-item {
    padding-top: 130px;
}
.test-item-title {
    font-family: StrogiyDemo, sans-serif;
    font-weight: 900;
    font-size: 60px;
    line-height: 102%;
    text-transform: uppercase;
    color: #2C292F;
}

.test-item-sub-title1 {
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 35px;
    line-height: 95%;
    color: #4C30C7;
    padding-top: 50px;
    white-space: pre-wrap;

}
.test-item-sub-title2 {
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 23px;
    line-height: 100%;
    color: #2C292F;
    padding-top: 15px;
    padding-bottom: 15px;
    white-space: pre-wrap;

}

.test-item-qs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 29px;
    white-space: pre-wrap;
}

.test-item-q {
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 35px;
    line-height: 95%;
    color: #4C30C7;
    padding-top: 50px;
}

.test-item-ans {
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 25px;
    line-height: 95%;
}
.answer-option:hover {
    background: #e9ecef;
}

.answer-option.selected {
    background: #e3f2fd;
    border: 1px solid #90caf9;
}

.custom-radio {
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 2px solid #90caf9;
    border-radius: 50%;
    margin-right: 12px;
    position: relative;
}

.radio-input {
    opacity: 0;
    position: absolute;
}

.answers-container {
    padding-left: 50px;
    padding-top: 30px;
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 25px;
    line-height: 95%;
}
.div-radio-option {
    padding-top: 15px;
}
.custom-radio {
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 2px solid #90caf9;
    border-radius: 50%;
    margin-right: 12px;
    position: relative;
}

.radio-input {
    opacity: 0;
    position: absolute;
}
.radio-input:checked + .custom-radio::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background: #2196F3;
    border-radius: 50%;
}

.central_btn {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.submit-button-test {
    display: inline-block;
    background-color: #4C30C7;
    align-content: center;
    color: white;
    text-decoration: none;
    font-family: Matt_Trial, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 95%;
    text-align: center;
    text-transform: uppercase;
    z-index: 3;

    width: 481px;
    height: 70px;
    border-radius: 20px;
}


.test-result-container {
    font-family: StrogiyDemo, sans-serif;
    text-transform: uppercase;
}
.test-result-title {
    font-weight: 900;
    font-size: 60px;
    line-height: 102%;
    margin-top: 50px;
    color: #4C30C7;
}
.test-result-title label {
    color: #6AB7FF
}

.results-table {
    text-transform: none;
    margin-top: 30px;
    color: #FFFFFF;
    height: 550px;
    border-radius: 30px;
    background: #4C30C7;
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 35px;
    line-height: 95%;
}

.results-table h3 {
    padding-top: 50px;
    margin-left: 50px;
}

.result-row-item {
    padding-top: 30px;
    margin-left: 50px;
}